{% set i = 0 %}
<thead>
<tr>
    <th class="subject-counter-students" rowspan="2">id</th>
    <th class="name-student" rowspan="2">Прізвище та ініціали</th>
    <th colspan="30">Місяць, число</th>
    <th rowspan=2 width="25px" >с/б</th>
</tr>

<tr>

{% for d in subject.getDateMarks   %}
<th

    class="journal-table-date" column{{ i }}
    data-date-id=''
    data-date-id-subject=''
    data-date-number = ' {{ i }}'>
    {% if d.getDate is not null %}
    {{ d.getDate|date('m d') }}

    {% endif %}

</th>
    {% set i = i+1  %}
{% endfor %}

</tr>

{% set i = 1  %}
 {% for student in students  %}
<tr>
    <td>{{ i }}</td>
    <td data-student-id='{{ student.student.getId }}' class='table-subject-name'>{{ student.studentName }}</td>

    {% for mark in student.mark %}
     <td>2</td>
    {% endfor %}
    <td class="average_mark"></td>
</tr>
     {% set i = i+1  %}
 {% endfor %}
</thead>