{% set i = 0 %}
<thead>
<tr>
    <th class="subject-counter-students" rowspan="2">id</th>
    <th class="name-student" rowspan="2">Прізвище та ініціали</th>
    <th colspan="35">Місяць, число</th><th rowspan=2 width="20px;">с/б</th></tr>
</tr>
<tr>
{% for item in 0..29   %}
<th
    class="journal-table-date" column{{ i }}
    data-date-id=''
    data-date-id-subject=''
    data-date-number = ' {{ i }}'
>&#160</th>
    {% set i = i+1  %}
{% endfor %}
</tr>
{% set i = 1  %}
 {% for student in students  %}
<tr>
    <td>{{ i }}</td>
     <td data-student-id='{{ student.getId }}' class='table-subject-name'>{{ student.getName }}</td>

    {% for mark in student.marks %}
     <td data-column='column$num' class='table-subject-marks column column$num' data-subject-mark-id='$mark->id'>2</td>
    {% endfor %}
</tr>
     {% set i = i+1  %}
 {% endfor %}
</thead>