{% set i = 1 %}
{% set disabled = "" %}
{% set dateDisabled = "" %}
{% set checkDate = true %}
{% set title = "" %}
<thead>
<tr>
    <th class="subject-counter-students" rowspan="2">id</th>
    <th class="name-student" rowspan="2">Прізвище та ініціали</th>
    <th colspan="30">Місяць, число</th>
    <th rowspan=2 width="35px">с/б</th>
</tr>
<tr>
{% for d in subject.getDateMarks %}



{% if d.getDate is not null or checkDate == true %}
    {% set dateDisabled = "journal-table-date-click" %}
{% else %}
    {% set dateDisabled = "disabled-td" %}
    {% set checkDate = false %}
{% endif %}
    {% if d.getDate is null %}
        {% set checkDate = false %}
    {% endif %}
<th class="journal-table-date {{ dateDisabled }} column column{{ i }}"
    style="background: {{ d.getTypeMark.getColor }}"
    data-column='column{{ i }}'
    data-date-id='{{ d.getId }}'
    title="  {{d.getDate|date('d-m-Y') }}; {{ d.getTypeMark.name }}; {{ d.description }}">
    <div style="background: #fff">
    {% if d.getDate is not null %}
    {{ d.getDate|date('m d') }}
    {% endif %}
    </div>
</th>
    {% set i = i+1  %}
    {% set dateClick = "" %}
{% endfor %}
</tr>
{% set i = 1  %}
 {% for student in students  %}
<tr class="student-row">
<td>{{ i }}</td>
<td data-student-id='{{ student.student.getId }}' class='table-subject-name'>{{ student.studentName }}</td>
{% set c = 1 %}{% set average = 0 %}{% set counter_marks = 0 %}

{% for mark in student.mark %}

{% if mark.getDateMark.getDate is null %} {% set disabled = "disabled-td"%}{%  set title = 'title = Спочатку_поставте_дату ' %}{% endif %}

 <td {{ title }} data-column='column{{ c }}' style="background-color: {{ mark.getDateMark.getTypeMark.getColor }};"  class='table-subject-marks {{ disabled }} column column{{ c }}' data-subject-mark-id='{{ mark.getId }}'>
     <select data-id-mark='{{ mark.getId }}' class='table-subject-select {{ disabled }}'>
         {% if mark.getDateMark.getDate is not null and mark.getDateMark.getTypeMark.getAverage == 0%}
             <option></option>
             {% for j in 1..subject.getGradingSystem.getSystem %}
                 {% if mark.getMark == j %}
                     <option selected>{{ mark.getMark }}</option>
                     {% set average = average + mark.getMark %}{% set counter_marks = counter_marks + 1 %}
                 {% else %}
                     <option>{{ j }}</option>
                 {% endif %}
             {% endfor %}
             {% if mark.getMark == 'Н' %}
                 <option selected>Н</option>
                 {% else %}
                 <option>Н</option>
             {% endif %}
         {% elseif  mark.getDateMark.getTypeMark.getAverage == 1 %}
             {% if(counter_marks!=0) %}
             <option selected disabled>{{ (average/counter_marks)|round(1, 'floor') }}</option>
             {% else %}
             <option selected disabled>{{ average }}</option>
             {% endif %}
         {% endif %}
     </select>
 </td>
    {% set c = c + 1  %}{% set disabled = "" %}{%  set title = "" %}
{% endfor %}
    {% if(counter_marks!=0) %}
      <td class="average_mark">{{ (average/counter_marks)|round(1, 'floor')  }}</td>
    {% else %}
      <td class="average_mark">{{ average }}</td>
    {% endif %}
</tr>
     {% set i = i+1  %}
 {% endfor %}
</thead>